fastapi
uvicorn[standard]
opencv-python
numpy
pillow
requests
opencv-contrib-python>=4.8.0
ultralytics>=8.0.0
torch
torchvision
librosa
soundfile
sounddevice
moviepy
pytoon
elevenlabs
pydantic
python-multipart
python-dotenv
